<div class="admin__field magecomp-ai-field" data-bind="afterRender: onRender">
    <div class="admin__field-label"></div>
    <div class="admin__field-control">
        <button type="button"
                css="buttonClasses"
                click="action"
                class="action-default primary" 
                disable="disabled"
                attr="'data-index': index, 'aria-labelledby': ariLabelledby">
            <span attr="'id': buttonTextId" text="title"></span>
        </button>
    </div>
</div>
