.config-nav .magecomp-logo .admin__page-nav-title::before {
    content: '';
      background-image: url(../images/magecomp-logo.webp);
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 60%;
      position: absolute;
      width: 70%;
      top: 11px;
  }
  
  .config-nav .magecomp-logo .admin__page-nav-title strong {
    margin-left: 40px;
  }